@media (max-width: 375px) {
    .main {
        padding: 10px;
        justify-content: center;
        align-items: center;
    }
    h1 {
        font-size: 1.4em;
    }
    h2, h3 {
        font-size: 1em;
    }
    p, li, table th, table td {
        font-size: 0.9em;
    }
    .table th, .table td {
        padding: 5px;
    }
    .preptime ul, .pagetwo ul, .pagethree ol {
        padding-left: 10px;
        justify-content: center;
        align-items: center;
    }
}